<html>
<head>
  <title>Detail</title>
</head>

<body>
    
    <a href="/">Home</a><br><br>
    
     <table style="border-collapse: collapse;">
      
        <tr style="border-bottom:1px solid black;">
          <td>
            {% for pic in instant.images %} 
              <img height="150px" src="{{ pic.src }}">
            {% endfor %}

          </td>
        </tr>
      </table>
      <br><br>
    
    
        
        <b>Name:</b> {{ instant.name }}<br>
        
        <div id="example_2" style="display:none;">
           <textarea name="name" form="first_form" placeholder="Enter new name"></textarea>
        </div>

        <button id="example_2_1" onclick=
        "document.getElementById('example_2').style.display='block'; 
        document.getElementById('example_2_1').style.display='none'; 
        document.getElementById('example_2_2').style.display='block';" >Изменить</button>

        <button id="example_2_2" onclick="
        document.getElementById('example_2').style.display='none'; 
        document.getElementById('example_2_2').style.display='none'; 
        document.getElementById('example_2_1').style.display='block';" style="display:none;">Скрыть</button>
        
       <form action="" method="POST" id="first_form">
        {% csrf_token %} 
        <br><br>
        
        <b>Description:</b><br>
        {{ instant.description }}<br>
        <textarea name="description" placeholder="Enter new description"></textarea>
        <br><br>
        
        <b>Short description:</b><br>
        {{ instant.short_description }}<br>
        <textarea name="short_description" placeholder="Enter new short description"></textarea>
        <br>
        <p><input type="submit" value="Обновить описание"></p>
    </form>
    <br><br>
    
   
        
        Варианты: {{ options |length}} шт<br>
              
                {% for all_var in options %}
                 <form action="" method="POST">
                    {% csrf_token %}

                    Option:                    
                    
                    {% for name in all_var.attributes|slice:":1" %}
                        {{ name.name }} {{ name.option }} ({{all_var.id}})
                    {% endfor %}
                    
                    
                    <br>
                    Price: {{ all_var.price }}<br>
                    Regular price: {{ all_var.regular_price }}  <br>
                    <input type="number" name="regular_price"> <br>

                   

                          
                    Sale price: {{all_var.sale_price }} <br>
                    <input type="number" name="sale_price"> <br>
                    
                    
                    Старт акции: {{all_var.date_on_sale_from }} <br>
                          <input type="date" name="date_on_sale_from"> <br>
                   
                    Срок акции: {{all_var.date_on_sale_to}} <br>
                          <input type="date" name="date_on_sale_to"> <br>
                          
                          <p>{% if all_var.stock_status == 'onbackorder' %}
                                      Предзаказ
                             {% elif all_var.stock_status == 'instock' %}
                                      В наличии
                              {% endif %}</p>
                              
                          <p>
                          <select name="stock">
                              <option value="choose">Choose</option>
                              <option value="onbackorder">Предзаказ</option>
                              <option value="instock">В наличии</option>
                          
                          
                          </select>
                          </p>
                    
                    
                    <input type="hidden" value="{{all_var.id}}" name="v_id">
                    <p><input type="submit" value="Обновить цены"></p>
                    
                </form>
                
                
                <form action="" method="POST">
                    {% csrf_token %}
                    
                    <input type="hidden" value="{{all_var.id}}" name="v_id">
                    <input type="hidden" value="true" name="sale_cancel">
                    <p><input type="submit" value="Удалить акцию"></p>
                </form>
                <br><br>
                {% endfor %}
                
    
    
    
    
  
</body>
</html>
